body {
    font-family: Questrial;
}

pre {
    background: #f9f9f9 !important;
}

.container {
    width: 800px;
    display: block;
    margin: auto;
}

.error-container {
    .message {
        text-align: center;
        color: #959595;
    }

    .code {
        font-size: 100px;
        text-align: center;
        font-weight: 100;
        color: #cf5b5b;
    }
}
