.footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;

    a {
        font-size: 11px;
        display: inline-block;
        margin-right: 15px;
        text-decoration: none;
        color: #545454;

        &.portfolio-link {
            color: #cf5b5b;
        }
    }
}
