.file-viewer {
    table {
        width: 800px;
        overflow: auto;
        display: block;

        tr:nth-of-type(odd) {
            background: #f6f6f6;
        }

        .line-num {
            color: red;
            padding-right: 10px;
        }

        .line-text {
            width: 100%;
            white-space: pre-wrap;
            font-family: monospace;
        }
    }
}
